version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: esgi-server
    ports:
      - "3000:3000"
    environment:
      - SESSION_SECRET=your_secret_key
    command: npm run dev
    volumes:
      - ./server:/app
      - /app/node_modules
